[2016-10-19 14:05] gildebrand opened #1 "Uses wrong database"
I installed this package along with Corcel 1.3.0, but ran into an issue. This package seems to use a different database than Corcel uses. With Corcel we defined which database to look in manually in our `Post.php` file. How would we define which database that Corcel-ACF should use? Out of the box it seems to use the default database of the Laraval instance.

Thank you in advance!
Best regards,
Ant

[2016-10-20 19:52] blasterweb opened #2 "Funciona com Taxonomy? "Work with Taxonomy?""
Consigo pegar o valor do campo ACF de uma Categoria (Taxonomy) ao invés do Post?

I can get the value of the ACF field of a Category (Taxonomy) instead of the Post?

[2016-10-20 20:23] jgrossi commented on #2
Hi @blasterweb yes you can. You will receive an instance of `Corcel\Term` when using something like `$post->acf->my_field`.

[2016-11-15 13:29] niknickolas commented on #1
Yes Corcel\PostMeta  uses default connection in trying to fetch field key .

[2016-11-15 13:45] jgrossi commented on #1
@gildebrand Corcel by default uses `default` connection name. If you're using Laravel you should set up another connection and call it `corcel` or `wordpress`. Then create your own `Post` class extending the Corcel one, setting that connection:

[code]

Then use your own `App\Post` class, like:

[code]
This should work. The `ACF` does not setup any database connection, just uses the default Corcel

[2016-11-15 13:47] jgrossi commented on #2
@blasterweb you can alse use:

[code]
I'm gonna close this issue. So any question just let me know.

JG

[2016-11-15 13:47] #2 closed

[2016-11-15 14:15] niknickolas commented on #1
Hi, I have already read documentation of Corcel.

[code]
but in this case
[code]

and

[code]
after that no one of these methods of fetching data from db does not work for me
[code]

Thanks for your quick answer.
Let me know if I am wrong.

[2016-11-15 14:27] jgrossi commented on #1
@niknickolas Hm you're absolutely right! Even setting the `key` like `$post->acf->text('field')` it'll use the wrong connection. Let me think how I can do that. If you have suggestions let me know.

JG

[2016-11-15 14:28] jgrossi commented on #1
@niknickolas BTW I started `corcel/laravel` plugin (http://github.com/corcel/laravel), that handles all Laravel stuff, so this database connection problem won't happen again. It's under development yet, and any help is appreciated. JG

[2016-11-15 14:41] jgrossi commented on #1
@niknickolas I made some changes in the `corcel/acf` plugin. If you can, install the `develop` branch:

[code]

I did not create any phpunit test for now but I'll. Please test it and let me know if it's working.

JG

[2016-11-15 15:41] niknickolas commented on #1
So it is better than it was.
I cannot help you fully, because of don't understand how wordpress and ACF plugin should work. I have never used wordpress before, but now I have to use laravel and wordpress as administration panel for posting news.

So, now I have other error messages
Trying to get property of non-object in vendor/corcel/acf/src/Field/BasicField.php on line 118

[code]

I think that

[2016-11-15 15:49] jgrossi commented on #1
@niknickolas What's the code you're calling when you get this error?

[2016-11-15 15:53] jgrossi commented on #1
@niknickolas It seems you don't have the ACF custom fields saved in the database. Instead of using `$post->acf->image` try to use `$post->acf->image('image');`. I think it's enough. JG

[2016-11-15 17:30] niknickolas commented on #1
@jgrossi Ok, I use that [ACF](https://www.advancedcustomfields.com/) plugin and believe that your plugin  was written to work with  WordPress  and Laravel  together,  without headache.

What are different between these two pieces of code:

in wordpress style:

[code]

in laravel style:
[code]

in wordpress style all work perfectly but in laravel style even this piece of code
`
$post->acf->image
`

[2016-11-15 17:41] jgrossi commented on #1
@niknickolas use this instead:

[code]

The `ACF` is a new plugin and it has some problems that might be fixed soon. But this should work.

[2016-11-16 22:53] niknickolas commented on #1
@jgrossi Hi
this way $post->acf->image('image')  works for me but not long.
There  exists another error
[code]
you try to fetch ('sizes') field  from metadata
[code]

that are exists in the table postmeta under
meta_key  =  _wp_attachment_metadata

[code]

but in wordpress way they  use  dynamic method to retrieve all possible sizes based on wordpress themes configurations I think so, but might ma

[2016-12-05 15:12] lasmanis opened #3 "BasicField -> fetchFieldType fails for repeater field"
I'm trying to access a repeater field like so:

`$this->acf->repeater('field_name');`

Where `$this` is an instance of a Model that is a child of Corcel\Post through 2 levels of inheritance. My Model overrides `protected $postType = 'my_post_type';`.

By using this code I'm getting an error in line 113 of the BasicField class.

Particularly, `$post` is `null`.

I tried changing the line `$post = $

[2016-12-07 14:42] Charl13 commented on #3
I'm experience the same issue.

[2016-12-08 16:23] jgrossi commented on #3
Hi @lasmanis and @Charl13 thanks for reporting. Can you send a PR request fixing those issues? Please make sure all unit tests are passing and maybe if possible write a new one that tests this particular behavior. I guess I will not have enough time until the next week to do that, sorry about that. If you can, please send a PR :D

[2017-01-01 08:37] cjke commented on #1
Can confirm the dev branch correctly uses the right connection

[2017-01-01 08:58] cjke opened #4 "BasicField doesn't facilitate the ability to return an empty value"
The second part of this line:
https://github.com/corcel/acf/blob/master/src/Field/BasicField.php#L67
doesn't allow the field value to be empty.

In other words, an empty (yet set) field is trying to evaluate the following:

`if (isset($postMeta->meta_value) and $postMeta->meta_value) {`
`if (true and "") {`
`if (true and false) {`

I'll submit a PR, just trying to figure out the best way to stub o

[2017-01-01 09:17] cjke opened #5 "Custom post types"
If resolving a field this way:

    $myPost = Movie::find(1);
    $myPost->acf->genre;  // not this version: $myPost->acf->text('genre');

results in an uncaught method on null exception because the constructed query looks like:

    "select * from `wp_posts` where `post_type` = ? and `post_name` = ?"
    ?1: moives // custom content type
    ?2: field_5852b438321e0  // custom field name

Which se

[2017-01-19 11:23] jgrossi commented on #1
Now it's fixed on version `0.1.3`. JG

[2017-01-19 11:23] #1 closed

[2017-01-19 11:24] jgrossi commented on #3
I fixed the database connection issue, maybe this fix the problem you were experiencing. JG

[2017-01-19 14:03] jgrossi commented on #5
@cjke hey I fixed that in the `0.1.4` version. If you still need that just update `corcel/acf` in composer file. I hope it helps you. JG

[2017-01-19 14:03] #5 closed

[2017-01-19 14:10] cjke commented on #5
Dude you're killing it today - crushing issues.

Quick question out of curiosity - how did you approach the concept of the same field key possibly existing in two groups? Is it required to pass in the group name as well?

[2017-01-19 14:12] jgrossi commented on #5
:-) I don't think so but it should be tested. I did not write any unit test for that. We're using `_field_name` to get the field key to query in `wp_posts`, so think you'll have problem just for the same `post_id` using the same `field_name` for example. JG

[2017-01-19 14:15] cjke commented on #5
Cool cool! Thanks for the awesome lib. We're releasing a biggish site in the next month which is using `React (frontend) <-> Laravel (backend) <-> Corcel <-> WP (content admin)` and Corcel has been an awesome addition.
If you want to mark any issues in Corcel/Corcel or Corcel/Acf as "ideal first issue", I would be happy to pick some up.

[2017-01-19 15:23] jgrossi commented on #5
@cjke thanks! And if you have any suggestion just let me know! Cheers! JG

[2017-01-22 16:20] cjke opened #6 "PostObject.php incorrectly binding the parent post_type"
Lets say we have two post types - Movie + Genre. Where Movie has a "Relationship" to Genre.

If you do the following:

`Movie::find(1)->acf->genre`

It will always return an empty collection.

This is because the query in PostObject is using the passed in model `$post` (which is the parent object) and using that as the base query (which is binding the parent post type instead of the child post typ

[2017-01-24 15:25] jgrossi commented on #6
@cjke sure thing! can you send a PR and make sure all the `phpunit` tests are passing? if so can you add one more test for this specific issue? thanks! JG

[2017-01-24 15:29] cjke commented on #6
Will do.

Can I ask, with your test bootstrap, do you already have a running instance of WP loaded with the .sql included in the repo? Or do you have something like docker that auto-spins up during a test cycle?

[2017-01-24 15:37] jgrossi commented on #6
@cjke for tests you don't actually need a WP install, just using the SQL dump to a MySQL database. If you want to change the database, adding posts, metadata, etc, I suggest you to have a local WP install pointing to the same database.

[2017-01-24 15:40] cjke commented on #6
Cool no worries, thanks for the clarification.

[2017-01-26 14:53] cjke commented on #6
This is already fixed in dev! Whoops. You are now passing in $post directly to the process method, so it's not adding this clause `post_type = ?` anymore, which is perfect.

[2017-01-26 14:53] #6 closed

[2017-02-06 19:23] Dsudenfield commented on #4
I am also experiencing a similar issue.
dd(empty($page->acf->template)) equates to true and dd(isset($page->acf->template)) equates to false even though template is a string value. I found this online describing the problem and solution http://stackoverflow.com/questions/2045791/php-empty-on-get-accessor. It looks like it has to do with template being called as a magic method.

[2017-02-06 22:55] cjke commented on #4
I am working on a PR atm for this. Should be done in the next day or two I think

[2017-02-08 12:40] marcoboom opened #13 "Fatal error when acf field does not exists at a post."
In AdvancedCustomFields.php the __get functions returns the get() method of the result of FieldFactory::make, but when the custom field not exists for a particuler post, the result of the FieldFactory will be null. So an exception will be thrown.

Better to change the return of the __get() method to:

[code]

[2017-02-08 12:42] jgrossi commented on #13
Hey @marcoboom thanks for reporting. Can you send a PR? Thanks!

[2017-02-08 14:45] jgrossi commented on #13
Fixes #14. Thanks!

[2017-02-08 14:45] #13 closed

[2017-02-09 13:50] marcoboom opened #16 "Make compatible with taxonomies"
Hi @jgrossi,

What do you think what would be the impact to make the ACF package compatible with taxonomies?

All Field class has now a dependency with the Post class, can we make that dynamic?

[2017-02-09 13:50] jgrossi commented on #16
@marcoboom hey! you mean instead of passing a `Post` object a `Model` one?

[2017-02-09 13:54] marcoboom commented on #16
If both Post and Taxonomy extends Model, then that would solve the typehinting issue. Do you think that is the only issue for getting this work?

[2017-02-09 13:57] jgrossi commented on #16
@marcoboom actually I don't see reasons to that:
[code]
I think when would I do this?
[code]
ACF fields are related to posts only. Or am I wrong? :-)

[2017-02-09 14:04] marcoboom commented on #16
@jgrossi No, ACF fields kan be available on Posts, Taxonomies, Users and even special admin option pages.

Big issue I think is that meta data of taxonomies are saved in another table: wp_termmeta

[2017-02-09 14:07] jgrossi commented on #16
@marcoboom hm got it... yep, maybe just verifying if `$model instanceof Taxonomy` getting data from `wp_termmeta`, else if it's a `Post` get from `wp_postmeta` like it currently does...

but I think this is a great addition btw ;-)

[2017-02-10 10:40] #4 closed

[2017-02-10 10:41] #3 closed

[2017-02-21 19:35] tlaverdure commented on #16
Is there a PR being submitted for this?

[2017-02-21 22:37] tlaverdure commented on #16
Sent some PRs let me know what you think @jgrossi

[2017-03-08 07:25] dave-calleja opened #23 "Repeater error"
I am getting the error below when trying to access a repeater field's values:

`FatalThrowableError in Repeater.php line 101: Call to a member function get() on null`

The data is definitely there as shown below:

<img width="931" alt="screen shot 2017-03-08 at 08 23 17" src="https://cloud.githubusercontent.com/assets/4331581/23694154/89bce050-03d8-11e7-93fb-19c91b9b4924.png">

I am accessing the

[2017-03-09 12:32] jgrossi commented on #23
Hi @dave-calleja! Did you debug the error? Which line is it being triggered? Did you find where is the error? Can you send a PR to fix that? Thanks, JG.

[2017-03-09 14:11] dave-calleja commented on #23
To be honest I wanted to confirm that my implementation (`$currentQuestion->acf->repeater('answers')`) was correct before it tried to fix it as documentation on the repeater here is a bit sparse, for example when in the repeater, do you have to specify the types of the inner fields? If so how?

[2017-03-09 15:19] jgrossi commented on #23
@dave-calleja good point, thanks. Actually the `Repeater` and `FlexibleContent` fields might be tested more. We have a large gap between what they should do in ACF plugin and what we have in `corcel/acf` plugin.

The Repeater should return a collection of fields, so you don't have to specify what you need. For example, you can give a collection of `Text` and `Image` fields. But as I said before, t

[2017-03-13 16:48] gabdl commented on #23
@dave-calleja, @jgrossi
could it be something related to php 7?
I'm having the same issue after change my environment to php7.

[2017-03-17 02:31] njbarrett opened #24 "Flexible Content Field speed"
Hey,

Thanks for developing this amazing package.
I'm testing the flexible content field as follows:

[code]

This alone takes 8+ seconds, which I'm assuming is due to the number of queries it has to make.
I have 2 layouts, both have repeaters in them, but they contain a few text and image fields. It seems it is returning all of the field data, but doing each field individually and probably genera

[2017-03-17 13:53] jgrossi commented on #24
Hi @njbarrett thanks for the comment. Both `FlexibleContent` and `Repeater` makes a lot of SQL, even in the original plugin. Our goal is to decrease that, but we need help ;-)

Anyway, 8 seconds is a lot. I don't think this is because of that, of you have a lot of repeater in the same page, for example. If you're using Laravel can you monitor the number of SQL queries using for example `Laravel De

[2017-03-20 03:09] njbarrett commented on #24
Hey @jgrossi

Thanks for the suggestion. I've run the page in debugbar and found this:

![screen shot 2017-03-20 at 10 34 21 am](https://cloud.githubusercontent.com/assets/241407/24087695/44a3d350-0d5d-11e7-9d3c-fc7fa5bd8523.png)

So 449 statements is a lot, but 348 duplicates is more concerning.

I had a brief look through the queries and the most duplicated query seems to be:

`select * from `ba

[2017-03-20 13:01] jgrossi commented on #24
Hey @njbarrett thanks for that!

Yep, we have to remove those duplicated queries. I'm gonna take a look on the code and check where I can "cache" that to void those queries.

Thanks for reporting that. JG

[2017-04-02 03:23] jordanyim1 commented on #23
It appears this function is missing the 'type' parameter which is causing the ->get() call after it to break.
[https://github.com/corcel/acf/blob/master/src/Field/Repeater.php#L102](url)

I managed to make it work by always setting the type to 'text'.
`$field = FieldFactory::make($meta->meta_key, $this->post->find($meta->post_id), 'text');`

However this isn't ideal.  If anyone knows how to dynami

[2017-04-17 12:03] jgrossi commented on #23
Hi @jordanyim1 thanks for contributing with Corcel.

Below you can see the code that finds the field `type` dynamically, that's why the `$type` is `null` in this case.

https://github.com/corcel/acf/blob/master/src/FieldFactory.php#L49

Be welcome for contributing more and sanding a PR if you find a bug or want to include a new feature, right? Thanks!

[2017-05-01 14:25] adinca commented on #23
Looks like the problem is in the query which fetches the field type. It searches for posts with post_type = 'acf-field' but at least in my setup, there's no post with this type. All fields for a repeater are stored in the postmeta table, as serialized array. The bad part is the search query that needs to be implemented since you need to use the like condition to look for the fieldKey

Here's the c

[2017-05-01 17:39] jgrossi commented on #23
Hi @adinca thanks for the contribution. Actually there's a `acf-field` post_type in the `wp_posts` table, like you can see on this screenshot:

![image](https://cloud.githubusercontent.com/assets/1175275/25587816/fc801f44-2e7b-11e7-9fd3-ff4c14cbfc1d.png)

When using the code you wrote, are all the `phpunit` tests passing?

[2017-05-01 17:43] adinca commented on #23
@jgrossi unfortunately in my wp_posts table there's no acf-field post type. This is the curious part.
What ACF / WP versions are you using?

I didn't run any tests yet

[2017-05-01 17:47] jgrossi commented on #23
@adinca I'm using ACF Pro `5.3.9.2`. In the `tests/config/database.sql.zip` you can find a SQL sample file to run tests. Whenever you can please run `corcel/acf` tests.

Those `acf-field` posts are inserted when you save a `page/post` that has a custom field on it, like a page with a custom field called `page_link` for example. You'd see `post_excerpt=page_link` and `post_type=acf-field` on `wp_po

[2017-05-01 17:52] adinca commented on #23
I'm using ACF 4. This must be the reason for the different data.
I'm using corcel on one of my existing projects (forgot to mentioned that), and haven't yet upgraded ACF to v5.

[2017-05-01 18:00] jgrossi commented on #23
@adinca hum good to know that. I thought there were no big differences about architecture between ACF 4 and 5. We can write some tests to make sure the plugin is working for ACF 4 as well.

[2017-05-13 05:49] florianflock commented on #24
Hey @njbarrett,

is there a current status to cache or prevent so many SQL queries?
I ran into the same issue, see below. 🙈

![image](https://cloud.githubusercontent.com/assets/3831745/26022882/9f5af9e0-37b0-11e7-82c4-918db901ab47.png)

[2017-05-21 12:37] ZapevalovAnton opened #37 "Relations for fields"
I want show list of posts. I am get 10 posts per page. In template for every post i am get acf image. For 10 posts 40 SQL requests are executed. How to set up a normal relations for fields???

[2017-05-25 07:53] benrolfe opened #38 "All fields"
Is there a way of returning **all** custom fields attached to the post, with one line of code?

The equlivant of `get_fields()` in the official ACF plugin [https://www.advancedcustomfields.com/resources/get_fields/](https://www.advancedcustomfields.com/resources/get_fields/).

Maybe `$post->acf->fields()`.

[2017-05-25 15:41] jgrossi commented on #38
Hi @benrolfe! Good call! But unfortunately, that's not possible. It's not something hard to implement, but currently there's no way of getting all fields at the same time. JG

[2017-05-25 15:53] jgrossi commented on #37
Hi @ZapevalovAnton actually that's currently not possible due to how ACF stores data into the WP database. You have to make multiples queries to fetch the custom field type, then others to get the post object and then the content. One of the big improvements to be made into `corcel/acf` is the performance.

If you take a look on `ACF` plugin itself we have a lot of queries. Maybe you can work in a

[2017-05-25 15:59] jgrossi commented on #24
Hi @florianflock @njbarrett yep! That should be improved a lot. We're doing extra queries, but I think "caching" is not our responsibility here, but better SQL queries. I'm sure we can reduce 4, 5 queries into just one and improve a lot the performance we have.

This is related to #37 too.

[2017-05-25 16:11] florianflock commented on #24
Hi @jgrossi,

right, we should concentrate on continuous performance, not only on caching.
I cannot help till summer, unfortunately. But I will try to create a pull request on that.

Stay tuned!

[2017-05-30 17:17] SamuelNCarvalho opened #39 "Repeater dont work with Taxonomy"
Repeater in taxonomy is not working.

Type error: Argument 2 passed to Corcel\Acf\Field\Repeater::fetchPostsMeta() must be an instance of Corcel\Post, instance of Corcel\Term given, called in D:\Samuel\Jobs\Giraffas\source\laravel\vendor\corcel\acf\src\Field\Repeater.php on line 30.

Code:
[code]
What is wrong?

[2017-05-30 19:38] #39 closed

[2017-05-31 19:41] SamuelNCarvalho commented on #39
Pull Request done. #40

[2017-06-06 12:08] benrolfe opened #42 "Missing optional fields"
When using the "repeater" field, and don't provide one of the optional URL values, I get this error:

`Trying to get property of non-object in PageLink.php`

Is there a way to avoid this error for optional URL fields?

![image](https://cloud.githubusercontent.com/assets/474175/26828204/47cf1718-4ab8-11e7-8704-2618d9cd4101.png)

![image](https://cloud.githubusercontent.com/assets/474175/26828224/60

[2017-06-20 12:40] jgrossi commented on #24
Hi @florianflock sorry for the late response. I'm gonna try to work on this in the next weeks, and if you can help you're welcome!

[2017-06-23 10:01] dimahali opened #44 "Connection and repeater issue"
i am getting following error while querying for repeater

`Call to a member function get() on null`

here is my query
`$post->acf->repeater('activity_details')`

i guess it is because of not getting type of field required in Repeater class fetchFields function

[code]

another issue is when i try to query image following error occurs

[code]

i have created seprate connection as below

[code]

and

[2017-06-23 15:56] jgrossi commented on #44
@dimahali hey! try to set your wp connection name to `wordpress` or `corcel`. Corcel checks for both connection names by default ;-)

[2017-06-23 17:49] dimahali commented on #44
Thanks @jgrossi it worked but what about repeater issue? I am getting the same issue
`Call to a member function get() on null`

[2017-06-23 17:57] dimahali commented on #44
when i change following function in Repeater.php

[code]

i get result but i am not getting image, instead id of image as below

[code]

i guess we are not getting field type in the following line

`FieldFactory::make($meta->meta_key, $post);`

[2017-06-23 21:26] jgrossi commented on #24
![](https://github.trello.services/images/mini-trello-icon.png) [Improve SQL queries in Repeater and Flexible Content fields](https://trello.com/c/XZxwbBkD/15-improve-sql-queries-in-repeater-and-flexible-content-fields)

[2017-06-23 22:26] jgrossi opened #45 "New Trello board"
Hello everyone,

If you want to contribute with Corcel now we have a Trello board to manage tasks, plan new features, fix bugs, etc.

Trello board Corcel PHP - https://trello.com/b/9F9UfiOD/corcel-php.

If you have interest in joining the board just let me know your Trello username and I'll add you.

Best regards, JG

[2017-06-26 07:25] dimahali commented on #44
hey @jgrossi any update?

[2017-07-20 17:08] dimahali commented on #23
@adinca is this code really working...

[2017-08-07 16:51] omzy83 opened #48 "ACF Options page"
How do we retrieve values from an Options page?

https://www.advancedcustomfields.com/resources/options-page/

I added a gallery field within an options page, when I do `Option::get('gallery')` it outputs an array (which is correct), however that array only contains `key => value` pairs, like this:

![image](https://user-images.githubusercontent.com/8927010/29036799-d6698a9c-7b98-11e7-9cc7-ddf2a7d

[2017-08-07 18:42] jgrossi commented on #48
@omzy83 no no, for ACF stuff only use `$post->acf->gallery('field')` not `Option::get()`. You should receive a collection of images ;-)

[2017-08-07 20:00] omzy83 commented on #48
@jgrossi I think you misunderstood...

I created the gallery in the Options page because it will be used on different pages on the site. I.e the same gallery with the same images reused across different pages.

[2017-08-07 20:16] jgrossi commented on #48
@omzy83 hum good call, I don't think we already have `get_option()` covered... it's easy to implement but I think it's not working yet...

[2017-08-07 20:24] omzy83 commented on #48
As a workaround for now, I have done this which seems to work:

[code]

[2017-08-30 21:19] jgrossi commented on #48
@omzy83 cool, but maybe we can think in a general method to handle this.

[2017-08-30 22:20] drosendo opened #49 "Recomendation"
After trying to use this plugin I really had issues with perfomance, querying like 15000 times due to my ACF being built in a massive block with option (imagine a Visual Composer but built with ACF).
Due to this the result is very slow.

So my approach will be much cleaner, and want some opinion on it.
What i'm going to do is on wordpress add an action (https://codex.wordpress.org/Plugin_API/Actio

[2017-08-31 09:47] drosendo commented on #49
So here goes my code to whoever wants it:

On wordpress:
[code]

Then on Laravel:
[code]

**Result:**
Queries: 2 Queries
Memory: 2MB
Time: 154ms
DD:
[code]

**Previous code:**
[code]
**Result:**
Queries: 13206 Queries
Memory: 134MB
Time: 12.8s
DD:
[code]

Cheers,
David

[2017-08-31 09:55] drosendo commented on #38
Check out solution on #49

Cheers,
David

[2017-08-31 10:29] benrolfe commented on #49
Looks a good solution, have you run into any limitations?

[2017-08-31 10:38] drosendo commented on #49
None, I now do whatever I want with the information.
Data is updated in WordPress after each save, so I always get the current data.

Cheers,
David

[2017-09-07 17:22] omzy83 opened #50 "Gallery field order"
I have added some images with the gallery field. I then re-ordered the images in the admin, however on the front end it is still showing the images in the previous order. In the admin I can see the images are in the new order after refreshing the page.

Is this an issue with corcel or with acf?

I output the images as follows:

[code]

[2017-09-07 21:13] omzy83 commented on #50
Just been looking in to this and I think the issue is on line 39 in `Gallery.php`:

`$attachments = Post::on($connection)->whereIn('ID', $ids)->get();`

When you do a SQL IN query, it does not return the results in the order that you specify. This is default behaviour of SQL:

https://stackoverflow.com/questions/1631723/maintaining-order-in-mysql-in-query

I think we need to find a way to fix this

[2017-09-07 21:25] omzy83 commented on #50
This works:

[code]

Reference: https://stackoverflow.com/questions/26704575/laravel-order-by-where-in

[2017-09-07 22:04] omzy83 opened #51 "Gallery field "undefined offset" error"
I was uploading some images as part of a gallery field. During the upload there was a server error and the image did not save correctly to the DB. However it did upload the image and create the thumbnails.

When I loaded the page in the browser, I got an error:

![image](https://user-images.githubusercontent.com/8927010/30186784-e0c57458-941e-11e7-808d-f20213887f7e.png)

Here is the function where

[2017-09-12 11:50] jgrossi commented on #49
@drosendo can you make this a PR, please?

[2017-09-12 11:50] #45 closed

[2017-09-12 11:55] drosendo commented on #49
@jgrossi Maybe I don't know what you mean with "PR" (Pull request?), but there is nothing here to be added to your code... except the WordPress part, but this is a case to case...
:)

[2017-10-02 09:13] omzy83 commented on #50
What do you think @jgrossi?

[2017-10-02 09:13] omzy83 commented on #51
What do you think @jgrossi?

[2017-10-04 18:19] jgrossi commented on #51
@omzy83 sorry about being MIA and thanks for sharing! go ahead and send a PR ;-) thanks

[2017-10-04 18:19] jgrossi commented on #50
@omzy83 go ahead and send a PR ;-) thanks

[2017-10-25 07:47] DanDvoracek commented on #23
Hi there!

Frst of all, thanks for the plugin! Very seducing!

Is there any update about this thread? I'm wondering how we are meant to use the repeater field in the frontend. So far I have to do some kind of nested foreach loop to get what I want (and I have to cast the data...)

[code]

What did I not understand?

The documentation in general would need a bit more to be honest. You have a great

[2017-10-25 08:58] DanDvoracek commented on #49
@drosendo this is great! Great thinking, Thanks! This was exactly what I needed 👍

[2017-10-25 10:21] DanDvoracek commented on #24
What is the official way to get contents from a flexible? Can't find any ref to that even though it seems implemented.

I tried the @njbarrett solution (`$modules = $page->acf->flexibleContent('modules');`) as my flexible is named Modules but it keeps returning an empty array/object... Any hints? Is there a proper documentation I didn't find yet?
Thanks!

[2017-10-25 11:10] jgrossi commented on #23
@DanDvoracek Corcel ACF plugin is a relatively new package. I started it by myself and after some contributions from the community, we've covered all ACF fields. Of course, they should be improved for performance reasons, and there's no documentation yet, just an explanation about the package.

You're welcome to take a look at the code and contribute to the documentation. Just send a PR ;-)

[2017-10-25 11:15] jgrossi commented on #24
@DanDvoracek there's no official documentation about all fields for now. The code itself is very simple and easy to understand. You're welcome to send a PR ;-)

[2017-10-25 11:16] jgrossi commented on #24
@DanDvoracek and about getting the `flexibleContent` you're doing it right. If the call is returning an empty result is a good opportunity to debug your code and maybe fix a bug in the code :-) thanks!

[2017-10-25 11:36] DanDvoracek commented on #24
Hmmm... @jgrossi I'm simply testing the whole thing for now so I don't have ANY complexity on the Laravel side.

Only thing that I do is the following:

[code]

Here is the model I use... Simply extending the Corcel\Model\Page .

Anything I'm doing wrong at that level?

[2017-10-25 11:39] jgrossi commented on #24
@DanDvoracek no, everything is correct. You can simplify:

[code]

If you have published pages in the WP database this must work.

[2017-10-25 11:46] DanDvoracek commented on #24
Right I change the way I query and return the data in the view.

Unfortunately,no luck and still nothing :/ I'm gonna dive into that a bit more.

[2017-10-25 11:47] jgrossi commented on #24
@DanDvoracek DId you configure the Laravel database connection? Do you have any data in the database?

[2017-10-25 11:49] DanDvoracek commented on #24
@jgrossi Of course I did ;) Everything seems fine on the connection side as I was able to output the data I needed. I could even work with repeaters but the flexible content is not working at all for me.

[2017-10-25 12:01] DanDvoracek commented on #24
@jgrossi Ok I got it. Nothing wrong with your plugin. I was using clones inside my flexible.. I suppose that has broken smth in the transaction (I can see this type isn't supported). Is there any plan to support that type of content from acf too ?

Thanks anyway ;)

[2017-10-25 12:39] drosendo commented on #49
I think there is nothing much to add here... feel free to suggest better ways of getting the structured data.

[2017-10-25 12:39] #49 closed

[2017-10-25 13:20] DanDvoracek commented on #23
No worry @jgrossi ;) I'm gonna try to have a look at it properly once I get more time. Thanks!

[2017-10-26 00:59] njbarrett commented on #24
Hi @DanDvoracek maybe also look at my old PR for clone fields https://github.com/corcel/acf/pull/25

[2017-11-15 10:04] ivometz opened #57 "Link type missing in FieldFactory"
Great plugin, but i noticed the link type is missing in the FieldFactory class.

[2017-11-15 10:49] jgrossi commented on #57
Hi @ivometz can you send a PR? Thanks! 😃

[2017-11-22 19:58] igelinas opened #59 "Label"
Hello!

Is it possible that the label is not accessible on a Select field? I only get the value.

Thanks!
Isabelle

[2017-11-22 20:02] jgrossi commented on #59
hey @igelinas can you send me a piece of code to understand better what you want to do? thanks 👍

[2017-11-22 20:06] igelinas commented on #59
Well, it's quite simple in fact 👍
@foreach($member->acf->select('tasks') as $task)
 {{ $task }}
@endforeach

In ACF, my tasks are setted as value : label

ex : task-1 : Task One

$task display the value (task-1) but I can't access the label (Task One).

But maybe the programming isn't done yet...

Let me know :)

Thanks!

[2017-11-22 20:07] igelinas commented on #59
(oh and btw, the return format in ACF is Label)

[2017-11-26 19:17] omzy83 commented on #51
@jgrossi PR is here: https://github.com/corcel/acf/pull/55

[2017-11-26 19:17] omzy83 commented on #50
@jgrossi PR is here: https://github.com/corcel/acf/pull/56

[2017-12-27 03:36] iteearmah opened #60 "How to use the image"
Method Corcel\Acf\Field\Image::__toString() must return a string value (View:

[2018-01-19 15:40] jgrossi commented on #60
@iteearmah Hi, first sorry about the late answer. These last weeks were busy.

Can you provide more information about this error? When does it happen?

[2018-01-19 16:16] drosendo commented on #49
@jgrossi

Update for WPML support:

On Wordpress:

[code]

Then on laravel:

[code]

Any recommendation on this better? At least it's working...

Cheers,
David

[2018-01-27 12:45] OwenMelbz commented on #48
@jgrossi hey has this moved forwards at all? would really like to use this in a active project!

[2018-02-09 18:42] #50 closed

[2018-02-09 18:43] jgrossi commented on #48
@OwenMelbz not actually, maybe someone can create a PR for that?

[2018-02-09 18:43] #57 closed

[2018-02-09 18:43] #51 closed

[2018-02-09 18:44] #60 closed

[2018-02-09 18:46] jgrossi commented on #49
anyone to create a PR with that solution, please? 🙏🎉

[2018-02-12 14:28] tbruckmaier commented on #48
I am currently working on a pr for this, unfortunately it requires a bunch of changes. The more complex fields like repeater or even image need to retrieve additional data from wp_posts and wp_postmeta. The logic for this is currently in the single field classes. The acf option page stores its data in wp_options though, that's why its not working with the current approach.
My approach is to move t

[2018-02-14 13:33] #16 closed

[2018-03-10 12:06] cjke opened #65 "Image __toString not correctly implemented"
Image extends BasicField, and provides some abstract base methods - `__toString` causes an issue with Image in particular as it invokes `->get()` as get() for `Image` returns an Image instance.

`__toString` must always return a string.

Happy to shoot through a PR. Simplest solution would probably just to overwrite the abstract method __toString in image with something like:

[code]

This was cov

[2018-03-14 12:18] cjke opened #66 "Performance enhancement snippet (pre PR discussion)"
The following is a working (but with possible regressions) snippet to reduce the query load of fetching many acf fields.

# Summary

The overarching principal is:

1. pass in an array of key/value pairs (the field is key, as the type is not likely to be unique)
2. a new method ("fields" or "bulk" or whatever) makes a generic `select * from `wp_postmeta` where `post_id` in ('106')` via `$this->post

[2018-03-27 21:48] cjke commented on #49
@drosendo @jgrossi - I was hitting a similar performance issue (and have raised a seperate PR discussion to try to resolve it in the core library).

For now, I have taken a similar approach as @drosendo - this one deep dives, recursively. get_fields() seems to resolved nested content. For example - if you have a repeater of Posts, it won't get the meta on the Posts.

[code]

[2018-05-16 20:58] pr1ntr opened #69 "Can this work with Component Fields from ACF Pro"
The API as documented returns nothing for ACF Fields that are Component Fields. Any plans on including this? Is there a workaround?

[2018-08-02 16:14] ReaperOrckid opened #70 "Corcel Repeater query issue"
Hi,

I am getting following error while querying for repeater

![image](https://user-images.githubusercontent.com/41147202/43596509-910c72a2-9690-11e8-81ef-69e69ead3425.png)

My query is
$product->acf->repeater('pillars')

[2018-08-08 00:01] darrenkhouston commented on #70
I was having this same issue. I noticed that I was using SVG's for the image slot in my repeater, and there is an error when trying to retrieve it. I switched it to PNG, and that worked.

If yours is not related to the images, it could be that you need to call the repeater directly by using something like:

`$pillars = (array) $product->acf->pillars;` then you can run a `@foreach` for each item. I

[2018-11-09 21:22] JamiesonRoberts opened #72 "Handling PHP Generated Configs instead of dynamic"
Myself and another developer have been bashing our heads against this code for the past day, and its due to how ACF under the hood handles post meta when the options are exported as PHP instead of being driven by the database and you are reading it in.

We work on a team of several devs and having to pass around configurations is incredibly frustration and also means we can't deal with things like

[2019-01-14 11:07] drosendo commented on #66
Hi,

If you want performance you can check how i did it: https://github.com/corcel/acf/issues/49

If you visit the production site: www.webhs.pt

It's all build with ACF, (I user ACF as a page builder), so you can probably guess how heavy the queries would be.

Cheers,
David

[2019-03-06 15:19] jethromay opened #73 "ACF fields on taxonomies/categories"
What is the best and cleanest way of retrieving ACF fields that exist on a Taxonomy/Category? The documentation doesn't provide examples.

[2019-03-12 14:01] tbruckmaier opened #74 "Updated & maintained fork"
Since development seems not be very active here, I created a fork (actually a complete rewrite): https://github.com/tbruckmaier/corcel-acf

This fork uses eloquent relations to retrieve the acf fields, which massively increases performance. There is also support for option pages, unknown field types, complicated layouts like an image in a repeater in a felxible content, etc.

I use this package in

[2019-03-12 14:05] tbruckmaier commented on #74
@jgrossi if you do not intend to continue this package anymore, you might consider putting a link to the fork into the readme?

[2019-03-12 18:34] jgrossi commented on #74
@tbruckmaier hey thanks for sharing! instead of forking this I can add you as a member, then you can help me to approve PRs... and you are also welcome to send yours too.. they are very welcome.. and if you did a complete rewrite you're also welcome to share it as well ;-) thank you for the hard work!

[2019-03-12 18:38] jgrossi commented on #74
Corcel (core) was completely rewritten in 2017, and we are moving to a version 3 soon, a completely framework-agnostic package, with Eloquent and Doctrine support as well... you're also welcome to join these next changes... so I guess you have good work to share with the main repository...

you're welcome to send a PR or even help me to make this working.. thanks!

[2019-03-22 00:31] moazam1 commented on #74
@jgrossi when do you plan to release new version? Is there any plan for auto generate layout like ACF? Thanks for the hard work!

[2019-03-22 10:57] tbruckmaier commented on #74
@jgrossi where can i find the corcel rewrite? Is there a special branch? Maybe I'm just blind ;)

Regarding the acf package: as my fork works quite differently than your original package, I don't think we should merge it back into this repository. Or we should increase the version number at least

[2019-03-22 17:33] jgrossi commented on #74
@tbruckmaier Corcel now follows Laravel versions, like 2.8 -> Laravel 5.8. this was done in 2017, and the ACF plugin was developed when Corcel was 1.0. it works with the current version, but it's not designed to match Corcel's versions schema.

can you explain more how your's version works differently from the original one? thanks

[2019-03-22 17:53] jgrossi commented on #74
@moazam1 just released 1.1.1 matching the `develop` branch. about the auto generate layout, if you give me more information about it, we can work together to make that feature available

[2019-03-24 23:49] moazam1 commented on #74
@jgrossi thanks so much. The idea is same as ACF renders and validate forms on CPT and options page, we can do same on Laravel end using Laravel forms. Let's say user place a json file in a acf-json directory and then we can render form using the json file exactly same as ACF. I noticed that tab field is missing here: https://github.com/corcel/acf#fields I know it does nothing but will be cool for

[2019-03-25 08:28] tbruckmaier commented on #74
@jgrossi i rewrote the field fetching mechanism with a custom eloquent relation, so it is possible now for instance to preload relations with `with()` and `load()`. The relation uses the meta data from the post object, so there are no further queries needed for any acf fields of one post. Any that gives a number of advantages:

* any encapsulated fields work now, for instance a gallery in a repeat

[2019-04-25 18:37] jojotjebaby opened #77 "DateTime fields are returning current date when field is empty"
Hi,

First off all I would like to thank you for this cool package and the work you invested.  While working with this package I noticed a problem that is affecting the DateTime fields.

When doing a call on a ACF DateTime field that is empty, the method returns a Carbon Object containing the current date. I think it would be better if the method returns false when the value for the requested fiel

[2019-06-27 13:06] matthewsuan commented on #72
hi @JamiesonRoberts have you found a way around this?

[2019-06-27 14:46] matthewsuan commented on #72
for anyone stumbling into this, you need to access acf field via the field type accessor method.

instead of
[code]

you can do it via
[code]

[2019-07-14 05:04] maxkopych commented on #60
I had the same problem. To fix it you need to check if field exist
[code]

[2019-07-27 06:54] tbruckmaier commented on #72
I have been using https://github.com/superhuit-ch/wp-cli-acf-json for automatic syncs of the generated acf-json. The generated acf-json files are in git and whenever someone checks out the repository, they run `wp acf-json sync` and there database gets updated. Probably this can be automated by putting it into a git hook.

[2019-07-27 13:28] JamiesonRoberts commented on #72
@tbruckmaier definitely cool, though the main concern I have with this and the whole point of saving out the configs into PHP files rather than database driven is that it cuts down the number of queries required to generate the page. This makes TTFB faster overall, especially when you are dealing with complex systems. The JSON files are great for portability of updating configuration, but includin

[2019-07-29 08:35] tbruckmaier commented on #72
@JamiesonRoberts yeah that's right, I ran into the same performance issues. You might want to check out my fork, I reworked the data fetching logic so and it decreases the number of queries a lot (it takes the acf data directly from the post's meta data which is preloaded anyway).

[2019-07-31 13:24] pelomedusa opened #78 "Gallery Field does not return non-images files"
In ACF, the gallery field accepts any type of file (yes, the name is misleading ...) and not only images.

The problem is that your Gallery field will only the files which are images as you can see here.

https://github.com/corcel/acf/blob/8091c7caf689d06ebb5cbeb6391357cc0ebf5d93/src/Field/Gallery.php#L43

[2019-09-09 02:58] zeroiszero opened #79 "Support for corcel 3.0"
How to make it compatible with latest release of [Corcel](https://github.com/corcel/corcel).
Just change `"jgrossi/corcel": "~2.1"` to `"jgrossi/corcel": "~3.0"` ?

[2019-09-13 13:51] jgrossi commented on #79
Fixed by #80 and #82

[2019-09-13 13:51] #79 closed

[2020-01-18 13:29] korridor opened #85 "Repeater field not working with user model"
I am trying to fetch a repeater acf field of a user and I get the following error:

`
Illuminate\Database\QueryException  : SQLSTATE[42S22]: Column not found: 1054 Unknown column 'post_id' in 'where clause' (SQL: select * from wp_usermeta where post_id = 1 and (meta_key like arepeater_0_% or meta_key like arepeater_-1_%))
`

The problem is that there should be `user_id` in the where statement inst

[2020-03-04 02:15] codemonkeynorth commented on #74
@tbruckmaier would be great if this could work without Laravel (first issue i hit was with `config()` function)

I'm actually testing out Corcel within just Wordpress itself, to use the Models for Custom Post Types etc, so I'm not using the Laravel side of it at all

I found your version because this `corcel/acf` version currently doesn't support `Group` fields

I'm having to use the older version

[2020-03-04 04:21] codemonkeynorth opened #86 "Image in Flexible Content .. can't get ID"
Hi,

I've got an image within a flexible content block and I'm trying to get its ID so I can pass it to a WP function

[code]

currently using
[code]

(I can't update due to other dependencies currently)

[2020-03-04 05:50] codemonkeynorth opened #87 "ACF Group"
would be good if we could get a `Group` field in the library

as far as I know it just prefixes `groupname_` so if eg my Group is `hero` and my first field in the repeater is `image` then the field becomes `hero_image`

I had a go at adapting the Repeater field and it seemed to work using eg
[code]

[code]

I hope this of some use. It's mostly trial and error, I'm not quite sure how the whole thin

[2020-03-04 05:54] codemonkeynorth opened #88 "Add support for custom ACF fields"
We are currently using this
https://github.com/joppuyo/acf-image-aspect-ratio-crop

which creates a field type `image_aspect_ratio_crop`

I can seemingly use it by adapting `FieldFactory.php`

[code]

Would be good to be able to define that dynamically, but I'm guessing the internal field mapping won't necessarily be the same?

[2020-03-05 11:29] tbruckmaier commented on #74
@codemonkeynorth Hi, I have not planned for such a usage, but it could probably be implemented. I created an issue at https://github.com/tbruckmaier/corcel-acf/issues/7

[2020-03-10 10:37] rossjcooper commented on #72
We are having the same issue, especially when trying to load in repeaters, the issue lies within the `src/FieldFactory.php` file, like you said it looks for the type in the DB but as it is configured in PHP it cannot find the sub-field types in the database so it always returns `null`

[2020-03-11 19:57] awcodes opened #89 "Not compatible with Corcel 4.0?"
Any plans to update this package to work with Corcel 4.0 and Laravel 7?

Could really use it with a new site i'm working on.

Thanks in advance.

[2020-03-24 15:59] callumNE6 commented on #89
Yes, I'm having the same problem when trying to install it.

`Problem 1
    - Can only install one of: jgrossi/corcel[3.0.x-dev, v4.0.0].
    - Can only install one of: jgrossi/corcel[v4.0.0, 3.0.x-dev].
    - Can only install one of: jgrossi/corcel[3.0.x-dev, v4.0.0].
    - corcel/acf 2.0.0 requires jgrossi/corcel ^3.0 -> satisfiable by jgrossi/corcel[3.0.x-dev].
    - Installation request for co

[2020-03-27 07:31] metapicture commented on #89
Yes, please update for compatibility with Corel 4 and Laravel 7. Thank you for the great packages!

[2020-04-04 01:27] rpgroot commented on #89
i have same problem with laravel 7 and corel 4.0. please solve this problem.

[2020-06-15 16:09] arzola commented on #89
@callumNE6 thank you man

[2020-06-19 16:31] forevereffort opened #92 "How to get the ACF Group Field value on corcel / acf?"
I am working on Laravel + Wordpress Project by using corcel. but I can't get the ACF group field value like the following.

[code]

above output is null. How can I get the ACF group field value by using corcel/acf?

[2020-07-26 08:09] shanmugarajah25 commented on #89
Yes, I'm also having the same problem when trying to install it.

C:\xampp\htdocs\Laravel\news> composer require corcel/acf
Using version ^2.0 for corcel/acf
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Can only insta

[2020-07-26 08:54] shanmugarajah25 commented on #89
Yes, I'm having the same problem when trying to install it.

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Can only install one of: jgrossi/corcel[3.0.x-dev, v4.0.0].
    - Can only install one of: jgrossi/corcel[v4.0.0, 3.0.x-dev].
    - Can only install one of: jgrossi/corcel[3.0.x-dev, v4.0.0].
    - corcel/acf 2.0.0 requires jgrossi/corcel ^3.0 -

[2020-07-27 22:31] jgrossi commented on #89
released new version on `3.0.0` that's compatible with Corcel 4.0.0+ 👍

[2020-07-27 22:31] #89 closed

[2020-07-28 02:02] shanmugarajah25 commented on #89
wowwww

awesome.
Thanks a lot. you are saving my time.

*Best Regards,*
*N.Shanmugarajah*

On Tue, Jul 28, 2020 at 4:01 AM Junior Grossi <notifications@github.com>
wrote:

[2020-08-12 06:54] kasunintervest commented on #77
I'm still facing this issue. any solution?

[2020-10-22 00:00] dberry93 opened #95 "Corcel ^5.0 compatibility"
Can the version constraint for `jgrossi/corcel` be updated to support 5.0?

`
Problem 1
    - Can only install one of: jgrossi/corcel[4.0.x-dev, v5.0.0].
    - Can only install one of: jgrossi/corcel[v5.0.0, 4.0.x-dev].
    - Can only install one of: jgrossi/corcel[4.0.x-dev, v5.0.0].
    - corcel/acf 3.0.0 requires jgrossi/corcel ^4.0 -> satisfiable by jgrossi/corcel[4.0.x-dev].
    - Installatio

[2020-10-31 17:13] Yumius commented on #95
Same here!

[2020-11-04 23:16] tbruckmaier commented on #72
Meanwhile I have updated my fork to work with a php-generated config too: https://github.com/tbruckmaier/corcel-acf

[2020-11-27 17:28] mauthi opened #96 "PHP Notice after fetching acf"
I try to fetch an acf 'url' with:
`Customer::find(3271)->url;`

I get the following error:
`PHP Notice:  unserialize(): Error at offset 0 of 31 bytes in /Users/mauthi/coding/Enso/vendor/corcel/acf/src/Field/BasicField.php on line 91`

Line 91 is:
`if ($array = @unserialize($value) and is_array($array)) {`

----

PHP Version: 7.4.11

[2020-12-03 07:10] squatto commented on #95
FYI this is good to go as of #94 👍🏻

[2021-02-26 14:56] stuartcusackie commented on #44
Still a problem. Setting connection name to 'wordpress' or 'corcel' has no effect.

This was the solution for me (my repeater contained images)
https://github.com/corcel/acf/pull/84/commits/9ee12a3f13962f988d679a902ead9e6ee298157c

Hopefully they will merge the PR soon. For the moment I have to modify the code directly or use a local repo.

[2021-04-05 22:01] letsrun commented on #96
We also see this.

[2022-06-08 04:13] OmarRobinson opened #104 "Not Compatible with Corcel 6.0 / Laravel 9.0"
Hello,

After updating to Corcel 6.0 / Laravel 9.0 my application started to receive the following error message:

[code]

Is there a workaround to get this to work since there is no supporting version?

P.S. I enjoy using this package... Thank you!

[2022-08-10 22:01] LiLoBiY opened #105 "FLEXIBLE FIELD, LOST FIELDS AFTER REORDER LIST"
Hello, have a trouble after change order in flexible content. -  image below

![image](https://user-images.githubusercontent.com/42546100/184027527-5201d8fd-da5b-451d-86b0-4c5d2080175b.png)

Wordpress saves this field under other post_id

_content_home_2_title - is LOSTED - ( image below )
![image](https://user-images.githubusercontent.com/42546100/184027716-2277233d-0eb9-43e0-8330-80c8022fcff8.pn

[2022-09-23 13:42] trovster commented on #85
The `fetchPostsMeta` method needs to be updated with check for `UserMeta`.

[2022-10-17 09:38] intuji-vijayrana opened #107 "Server port changes when accessing Image and File type fields"
I am testing this plugin and working fine for all field types except Image and File. When I try to access those field, the port of laravel server changes.
I am trying to access as below:
[code]
The same works for others including the repeater. Anything I am doing wrong?
Image for reference:  https://i.imgur.com/NZxE6JQ.png